@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');



body {
    background-color: rgb(227, 227, 183);
    color: rgb(56, 56, 56);
    font-family: "Bricolage Grotesque";
}

img {
    height: 80px;
    width: 80px;
}

button {
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: rgb(56, 56, 56);
    margin: 20px 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;

}

button:active {
    box-shadow: 7px 7px 10px rgb(56, 56, 56);
}

.text {
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.text2 {
    font-size: 20px;
    margin-bottom: 40px;
}

.count,
.result {
    width: 50%;
    font-size: 23px;
    margin: 70px 10px;
}

.body {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
